dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

META-INF
*.jar
*.class

*.bin
*.in
*.in.raw
*.out
*.out.check
make-full.log
.suš

# the executables
T[0-9][0-9]
